<section class="mil-p-120-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <span class="mil-suptitle mil-suptitle-2 mil-mb-30">Discover Our Company</span>
                <h2 class="mil-mb-30">Explore <span class="mil-accent">Cloud Security</span> Solutions</h2>
                <p class="mil-mb-90">The constant evolution of threats and the race for more sophisticated tools to combat them means that security is changing rapidly.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4" *ngFor="let course of courses">

                <div class="mil-hover-card mil-box-center mil-mb-30">
                    <div class="mil-deco mil-deco-accent" style="top: -10%; right: -10%;"></div>
                    <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                        <h3>{{course.overview.title}}</h3>
                    </div>
                    <h5 class="mil-mb-30">Application Security</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</section>