

<div class="mil-top-position mil-fixed has-additional-panel">

    <!-- top bar -->
<div class="mil-additional-panel">
    <div class="container-fluid">
       
        <div class="mil-ap-call-to-action">
           <div class="mil-icon-frame mil-icon-frame-sm">
               <img src="../../../assets/img/icons/sm/4.svg" alt="icon">
           </div>
            <p>Creating the job-ready digital skills that empower achievement.
            </p>
        </div>
        <ul class="mil-ap-list">
            <li>info@codedchalk.com</li>
            <li> <span class="mil-accent">+91</span>7414966630</li>
            
        </ul>
        <!-- <ul class="mil-ap-list">
            <li><a href="#.">Student Login</a></li>
            <li><a href="#.">A</a></li>
        </ul> -->
    </div>
</div>
<div class="mil-top-position mil-fixed">
    <div class="mil-top-panel">
        <!-- mil-top-panel-transparent -->
        <div class="container">
            <a href="" class="c-logo dark">
            CODEDCHALK</a>
            <div class="mil-navigation">
                <nav>
                    <ul>
                        <li class="mil-has-children">
                            <a href="javascript:void(0);">Programs</a>
                            <ul>
                                <li><a href="javascript:void(0);" routerLink="/about-us">EmpowerGig</a></li>
                                <li><a href="javascript:void(0);" routerLink="/team">Certification Courses</a></li>
                                <li><a href="javascript:void(0);" routerLink="/careers">Summer Internship</a></li>
                            </ul>
                        </li>
                        <li class="mil-has-children">
                            <a href="javascript:void(0);">Enterprise</a>
                            <ul>
                                <li><a href="javascript:void(0);" routerLink="/about-us">About</a></li>
                                <li><a href="javascript:void(0);" routerLink="/team">Team</a></li>
                                <li><a href="javascript:void(0);" routerLink="/careers">Careers</a></li>
                            </ul>
                        </li>
                        <li class="mil-has-children">
                            <a href="javascript:void(0);">Solutions</a>
                            <ul>
                                <li><a href="javascript:void(0);" routerLink="/about-us">Corporate Trainings</a></li>
                                <li><a href="javascript:void(0);" routerLink="/team">Education Technology Services</a></li>
                                <li><a href="javascript:void(0);" routerLink="/about-us"> Consulting and Development</a></li>
                            </ul>
                        </li>
                        <li class="mil-has-children">
                            <a href="javascript:void(0);">Enterprise Solutions</a>
                            <ul>
                                <li><a href="javascript:void(0);" routerLink="/government">For Businesses</a></li>
                                <li><a href="javascript:void(0);" routerLink="/government">For Government</a></li>
                                <li><a href="javascript:void(0);" routerLink="/team">For Social Impact</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#.">Case Studies</a>
                        </li>
                       
                       
                        <li>
                            <a href="javascript:void(0);" routerLink="/contact">Contact</a>
                        </li>

                    </ul>

                </nav>

            </div>
            <!-- mobile menu button -->
            <div class="mil-menu-btn">
                <span></span>
            </div>
            <!-- mobile menu button end -->
        </div>
    </div>
</div>
<!-- top bar end -->

 </div>