<!-- top bar -->
<div class="mil-top-position mil-fixed">
    <div class="mil-top-panel">
        <!-- mil-top-panel-transparent -->
        <div class="container">
            <a href="" class="c-logo dark">
            CODEDCHALK</a>
            <div class="mil-navigation">
                <nav>
                    <ul>
                        <li class="mil-has-children">
                            <a href="#.">About</a>
                            <ul>
                                <li><a href="about.html">About us</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="careers.html">Careers</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#.">Services</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" routerLink="/case-studies-v1">Case Studies</a>
                        </li>
                        <li>
                            <a href="#.">EmpowerGig</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" routerLink="/blogs">Blog</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>

                    </ul>

                </nav>

            </div>
            <!-- mobile menu button -->
            <div class="mil-menu-btn">
                <span></span>
            </div>
            <!-- mobile menu button end -->
        </div>
    </div>
</div>
<!-- top bar end -->
