<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
    <img src="../../../assets/img/deco/map.png" alt="background" class="mil-background-image">
    <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div>
    <div class="mil-banner-content">
        <div class="container mil-relative">
            <ul class="mil-breadcrumbs mil-mb-30">
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <h2 class="mil-uppercase">Our Blog</h2>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- blog -->
<section class="mil-blog mil-p-120-0">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-8 col-xl-8 mil-mb-120">

                <a href="publication.html" class="mil-card mil-mb-60">
                    <div class="mil-cover-frame">
                        <img src="../../../assets/img/blog/1.jpg" alt="project">
                    </div>
                    <div class="mil-description">
                        <div class="mil-card-title">
                            <ul class="mil-dot-list mil-text-sm mil-mb-15">
                                <li>Management</li>
                                <li>29 Oct. 2023</li>
                            </ul>
                            <h4>Equal Opportunity</h4>
                        </div>
                        <div class="mil-card-text">
                            <p>Equal Opportunity," as envisioned by CEO Anjali Waghmare at Codedchalk, is a commitment to creating an inclusive and level playing field for all individuals. It means that every person...</p>
                        </div>
                    </div>
                </a>

                <a href="publication.html" class="mil-card mil-mb-60">
                    <div class="mil-cover-frame">
                        <img src="../../../assets/img/blog/2.jpg" alt="project">
                    </div>
                    <div class="mil-description">
                        <div class="mil-card-title">
                            <ul class="mil-dot-list mil-text-sm mil-mb-15">
                                <li>Management</li>
                                <li>29 Oct. 2023</li>
                            </ul>
                            <h4>Easy & Most Powerful Server Platform.</h4>
                        </div>
                        <div class="mil-card-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor incididunt dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </div>
                </a>

                <a href="publication.html" class="mil-card mil-mb-60">
                    <div class="mil-cover-frame">
                        <img src="../../../assets/img/blog/3.jpg" alt="project">
                    </div>
                    <div class="mil-description">
                        <div class="mil-card-title">
                            <ul class="mil-dot-list mil-text-sm mil-mb-15">
                                <li>Management</li>
                                <li>29 Oct. 2023</li>
                            </ul>
                            <h4>Easy & Most Powerful Server Platform.</h4>
                        </div>
                        <div class="mil-card-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor incididunt dolor sit amet, consectetur adipisicing.</p>
                        </div>
                    </div>
                </a>



            </div>
            <div class="col-lg-4 col-xl-3 mil-mb-120">
                <div class="mil-divider mil-mb-60"></div>
                <div class="mil-mb-60">
                    <h5 class="mil-list-title mil-mb-30">Tags</h5>
                    <ul class="mil-tags">
                        <li><a href="#.">Business</a></li>
                        <li><a href="#.">Design</a></li>
                        <li><a href="#.">General</a></li>
                        <li><a href="#.">Development</a></li>
                        <li><a href="#.">Learning</a></li>
                    </ul>
                </div>

                <div class="mil-divider mil-mb-60"></div>
                <h5 class="mil-list-title mil-mb-30">Contact us</h5>
                <p class="mil-mb-30">For any queries please email us at support@codedchalk.com</p>
                <a href="" class="mil-link"><span>Contact</span><i class="fas fa-arrow-right"></i></a>

            </div>
        </div>
    </div>
</section>
<!-- blog end -->