<div class="mil-banner-sm mil-deep-bg">
    <img src="img/deco/map.png" alt="background" class="mil-background-image">
    <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div>
    <div class="mil-banner-content">
        <div class="container mil-relative">
            <ul class="mil-breadcrumbs mil-mb-30">
                <li><a href="home-1.html">Home</a></li>
                <li><a href="about.html">About us</a></li>
            </ul>
            <h2 class="mil-uppercase">Enterprise</h2>
        </div>
    </div>
</div>

<section class="mil-p-120-60">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-xl-6">
                <h2 class="">We transform
                    <span class="mil-accent">talent</span> into <span class="mil-accent">excellence</span>
                </h2>
                <p class="mil-mb-60"> CodedChalk empowers individuals, organizations, and nations through digital
                    upskilling, equipping you with the skills to thrive in the future.
                </p>
            </div>
            <div class="col-lg-12 col-xl-6">
                <div class="mil-adaptive-right">
                    <a href="#." class="mil-button mil-border mil-mr-15 mil-mb-30"><span>Talk To an Expert</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mil-deep-bg mil-p-120-60">
    <div class="mil-deco" style="top: 0; left: 35%;"></div>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 mil-mb-60">

                <div class="mil-circle-illustration">
                    <div class="mil-circle-bg"></div>
                    <div class="mil-image-frame">
                        <img src="img/faces/t3.png" alt="img">
                    </div>
                </div>

            </div>
            <div class="col-lg-6">

                <span class="mil-suptitle mil-suptitle-2 mil-mb-30">Firm Overview</span>
                <h2 class="mil-mb-50">Delivering results that  <br><span class="mil-accent">empower individuals, organizations,.</span> and <span class="mil-accent">nations.</span></h2>

                <p class="mil-mb-10">CodedChalk’s proven framework is globally scalable, tackling the digital talent gap that hinders growth, productivity, and innovation. We partner with enterprises and ambitious individuals to craft personalized talent transformation journeys powered by our Digital Competency Platform. </p>

                <p class="mil-mb-10">
                    Our exclusive content is developed and continuously refined in collaboration with industry leaders. Every CodedChalk program is designed with precision, removing the guesswork in choosing the right course. Our hands-on projects go beyond step-by-step tutorials, fostering critical thinking essential for workplace success. Expert mentors provide personalized support, ensuring mastery of key competencies.
                </p>
                <p class="mil-mb-50">
                    We are delivering impactful and cutting edge tech education that enables individuals and organizations to unlock their potential.
                </p>

                <div class="row align-items-end">

                    <div class="col-xl-7">

                        <ul class="mil-check-icon-list mil-mb-60">
                            <li>
                                <img src="../../../../assets/img/icons/sm/12.svg" alt="icon">
                                <span class="mil-dark">Be Outcome Obsessed </span>
                            </li>
                            <li>
                                <img src="../../../../assets/img/icons/sm/12.svg" alt="icon">
                                <span class="mil-dark">Embrace Curiosity</span>
                            </li>
                            <li>
                                <img src="../../../../assets/img/icons/sm/12.svg" alt="icon">
                                <span class="mil-dark">Take the Lead </span>
                            </li>
                            <li>
                                <img src="../../../../assets/img/icons/sm/12.svg" alt="icon">
                                <span class="mil-dark">Celebrate the Assist</span>
                            </li>
                        </ul>

                    </div>
                    <div class="col-xl-5">

                        <a href="team-single.html" class="mil-post-sm mil-mb-60">
                            <div class="mil-cover-frame"><img src="img/faces/1.jpg" alt="cover"></div>
                            <div class="mil-description">
                                <h4 class="mil-font-3 mil-accent">Anjali Waghmare</h4>
                                <p class="mil-text-sm">CEO &amp; Co-Founder</p>
                            </div>
                        </a>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="mil-p-120-60">
    <div class="mil-deco" style="top: 0; left: 25%;"></div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="mil-h1">5<span class="mil-accent">+</span></div>
                <h6 class="mil-mb-60">Years Experience</h6>

                <h2 class="mil-mb-60">We Run All Kinds of IT Services That Vow Your Success</h2>
            </div>
            <div class="col-lg-6">

                <h3 class="mil-mb-60">Accelerate <span class="mil-accent">Innovation</span> with world class tech teams We’ll match you to an entire <span class="mil-accent">Remote Technology</span></h3>

                <div class="row">
                    <div class="col-lg-6">

                        <h6 class="mil-mb-30"><span class="mil-accent">10+</span>&nbsp; Corporate Trainings Programs</h6>

                        <div class="mil-divider mil-divider-left mil-mb-60"></div>

                    </div>
                    <div class="col-lg-6">

                        <h6 class="mil-mb-30"><span class="mil-accent">15+</span>&nbsp; Certification Courses</h6>

                        <div class="mil-divider mil-divider-left mil-mb-60"></div>

                    </div>
                   
                    <div class="col-lg-6">

                        <h6 class="mil-mb-30"><span class="mil-accent">5+</span>&nbsp; Internship Programs</h6>

                        <div class="mil-divider mil-divider-left mil-mb-60"></div>

                    </div>
                    <div class="col-lg-6">

                        <h6 class="mil-mb-30"><span class="mil-accent">25+</span>&nbsp; Technology Consulting & Development</h6>

                        <div class="mil-divider mil-divider-left mil-mb-60"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="mil-partners mil-p-120-90">
    <div class="container">
        <div class="mil-partners-frame">
            <a href="#."><img src="../../../../assets/img/partners/1.png" alt="partner"></a>
            <a href="#."><img src="../../../../assets/img/partners/2.png" alt="partner"></a>
            <a href="#."><img src="../../../../assets/img/partners/3.png" alt="partner"></a>
            <a href="#."><img src="../../../../assets/img/partners/4.png" alt="partner"></a>
            <a href="#."><img src="../../../../assets/img/partners/5.png" alt="partner"></a>
            <a href="#."><img src="../../../../assets/img/partners/6.png" alt="partner"></a>
        </div>
    </div>
</div>

<section class="mil-deep-bg mil-p-120-60">
    <div class="mil-deco" style="top: 0; right: 15%;"></div>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 mil-mb-60">

                <div class="mil-circle-illustration">
                    <div class="mil-circle-bg"></div>
                    <div class="mil-image-frame">
                        <img src="img/faces/t2.png" alt="img">
                    </div>
                </div>

            </div>
            <div class="col-lg-6 mil-mb-60">

                <span class="mil-suptitle mil-suptitle-2 mil-mb-30">On a mission to forge futures in tech.

                </span>
                <h2 class="mil-mb-50">Unlock endless   <span class="mil-accent">possibilities</span> with a  <span class="mil-accent">CodedChalk.</span></h2>

                <p class="mil-mb-50">Ready to embark on a journey of continuous growth and learning? With our subscription, limitless knowledge is just a click away. No barriers, no limits—just access to world-class educational resources that can transform your future.</p>

                <ul class="mil-simple-list">
                    <li>High-quality, curated curriculum</li>
                    <li>Proficient Guidance from Industry Experts                    </li>
                    <li>Top-tier services to ensure learner success</li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section class="mil-p-120-120">
    <div class="container">

        <span class="mil-suptitle mil-suptitle-2 mil-mb-30">Discover Our Company</span>
        <h2 class="mil-mb-120">Why Work With Us</h2>

        <div class="mil-divider"></div>
        <div class="mil-line-icon-box">
            <div class="row align-items-center">
                <div class="col-xl-2">
                    <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                        <img src="../../../../assets/img/icons/md/6.svg" alt="icon">
                    </div>
                </div>
                <div class="col-xl-4">
                    <h4 class="mil-mb-30">EmpowerGig</h4>
                </div>
                <div class="col-xl-6">
                    <p class="mil-box-text mil-mb-30">Dive into specialized fields with our Nanodegree programs, carefully designed to equip you with hands-on experience, industry-relevant skills, and globally recognized credentials.</p>
                </div>
            </div>
        </div>
        <div class="mil-divider"></div>
        <div class="mil-line-icon-box">
            <div class="row align-items-center">
                <div class="col-xl-2">
                    <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                        <img src="../../../../assets/img/icons/md/10.svg" alt="icon">
                    </div>
                </div>
                <div class="col-xl-4">
                    <h4 class="mil-mb-30">Certifications</h4>
                </div>
                <div class="col-xl-6">
                    <p class="mil-box-text mil-mb-30">Earn certificates of completion for every course and Nanodegree you successfully finish, enhancing your resume with valuable credentials that showcase your expertise.</p>
                </div>
            </div>
        </div>
        <div class="mil-divider"></div>
        <div class="mil-line-icon-box">
            <div class="row align-items-center">
                <div class="col-xl-2">
                    <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                        <img src="../../../../assets/img/icons/md/2.svg" alt="icon">
                    </div>
                </div>
                <div class="col-xl-4">
                    <h4 class="mil-mb-30">Projects</h4>
                </div>
                <div class="col-xl-6">
                    <p class="mil-box-text mil-mb-30">Put your newly acquired knowledge into action by working on real-world projects that test your skills and ignite your creativity.</p>
                </div>
            </div>
        </div>
        <div class="mil-divider"></div>
        <div class="mil-line-icon-box">
            <div class="row align-items-center">
                <div class="col-xl-2">
                    <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                        <img src="../../../../assets/img/icons/md/4.svg" alt="icon">
                    </div>
                </div>
                <div class="col-xl-4">
                    <h4 class="mil-mb-30">Courses and Internships</h4>
                </div>
                <div class="col-xl-6">
                    <p class="mil-box-text mil-mb-30">Stay ahead of the curve with our expertly designed courses. Whether you’re passionate about coding, business strategy, or product design, our programs are tailored to match your interests and goals..</p>
                </div>
            </div>
        </div>
        <div class="mil-divider"></div>
        <div class="mil-line-icon-box">
            <div class="row align-items-center">
                <div class="col-xl-2">
                    <div class="mil-icon-frame mil-icon-frame-md mil-mb-30">
                        <img src="../../../../assets/img/icons/md/5.svg" alt="icon">
                    </div>
                </div>
                <div class="col-xl-4">
                    <h4 class="mil-mb-30">Expert Guidance
                    </h4>
                </div>
                <div class="col-xl-6">
                    <p class="mil-box-text mil-mb-30">Gain valuable insights and support from industry experts and mentors, guiding you at every step of your learning journey.</p>
                </div>
            </div>
        </div>
        <div class="mil-divider"></div>
    </div>
</section>

<section class="mil-deep-bg mil-p-120-60">
    <div class="mil-deco" style="top: 0; right: 25%;"></div>
    <div class="container">
        <span class="mil-suptitle mil-suptitle-2 mil-mb-30">For Enterprise</span>
        <h2 class="mil-mb-120">We Live by <span class="mil-accent">Core Values</span></h2>

        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="mil-icon-box-2 mil-mb-60">
                    <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                        <img src="../../../../assets/img/icons/md/10.svg" alt="icon">
                    </div>
                    <div class="mil-box-text">
                        <h4 class="mil-mb-30">We Foster Growth</h4>
                        <p class="mil-box-text">We empower individuals and organizations by providing the tools and knowledge needed to grow and thrive in a rapidly changing world.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xl-4">
                <div class="mil-icon-box-2 mil-mb-60">
                    <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                        <img src="../../../../assets/img/icons/md/10.svg" alt="icon">
                    </div>
                    <div class="mil-box-text">
                        <h4 class="mil-mb-30">We Drive Innovation</h4>
                        <p class="mil-box-text">We focus on delivering cutting-edge, forward-thinking education and solutions that empower our clients to lead in the digital age.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="mil-icon-box-2 mil-mb-60">
                    <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                        <img src="../../../../assets/img/icons/md/10.svg" alt="icon">
                    </div>
                    <div class="mil-box-text">
                        <h4 class="mil-mb-30">We Champion Collaboration</h4>
                        <p class="mil-box-text">We believe in the power of working together—across teams, industries, and organizations—to drive greater results and achieve shared success.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="mil-icon-box-2 mil-mb-60">
                    <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                        <img src="../../../../assets/img/icons/md/10.svg" alt="icon">
                    </div>
                    <div class="mil-box-text">
                        <h4 class="mil-mb-30">We Value Excellence</h4>
                        <p class="mil-box-text">Our commitment to excellence drives everything we do. We aim to provide the highest standard of learning and support for our clients and learners.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="mil-icon-box-2 mil-mb-60">
                    <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                        <img src="../../../../assets/img/icons/md/10.svg" alt="icon">
                    </div>
                    <div class="mil-box-text">
                        <h4 class="mil-mb-30">We Believe in Impact</h4>
                        <p class="mil-box-text">We’re driven by the belief that education has the power to transform individuals, organizations, and society as a whole, making a lasting impact on the future.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-4">
                <div class="mil-icon-box-2 mil-mb-60">
                    <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                        <img src="../../../../assets/img/icons/md/10.svg" alt="icon">
                    </div>
                    <div class="mil-box-text">
                        <h4 class="mil-mb-30">We Say “We”</h4>
                        <p class="mil-box-text">We thrive on a collective spirit—empowering one another, and working as a unified team to achieve greatness in every project we undertake.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>