<!-- <div class="mil-wrapper">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div> -->


<!-- wrapper -->
<div class="mil-wrapper">
    <!-- top bar -->
    <div class="mil-top-position mil-fixed">
        <div class="mil-top-panel mil-top-panel-transparent mil-animated">
            <!-- mil-top-panel-transparent -->
            <div class="container-fluid">
                <a href="javascript:void(0)" class="mil-logo" style="height: 50px; width: 200px;"></a>
                <div class="mil-navigation">

                    <p class="mil-light" style="font-weight: 600;">We Provide <span class="mil-accent">EdTech Solution and Corporate Training</span> For Enterprise</p>

                </div>
                <!-- mobile menu button -->
                <div class="mil-menu-btn">
                    <span></span>
                </div>
                <!-- mobile menu button end -->
            </div>
        </div>
    </div>
    <!-- top bar end -->

    <!-- coming soon -->
    <div class="mil-dark-bg mil-add-page">
        <img src="img/photo/20.jpg" alt="background" class="mil-background-image">
        <div class="mil-overlay"></div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-12">
                    <h1 class="mil-light mil-mb-15" style="text-align: center;">UNDER <span class="mil-accent">MAINTENANCE</span></h1>
                    <p class="mil-light-soft" style="text-align: center !important;">We're currently undergoing scheduled maintenance to improve your experience. We'll be up and running again in no time. Thank you for your patience!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- coming soon end -->

    <div class="mil-addition-bottom">
        <div class="container-fluid">
            <p class="mil-text-sm mil-light-soft">© CodedChalk 2023.</p>
            <p class="mil-text-sm mil-light-soft">All Rights Reserved.</p>
        </div>
    </div>

</div>
<!-- wrapper end -->