<div class="mil-banner-sm mil-deep-bg">
    <img src="../../../../assets/img/deco/map.png" alt="background" class="mil-background-image">
    <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div>
    <div class="mil-banner-content">
        <div class="container mil-relative">
            <ul class="mil-breadcrumbs mil-mb-30">
                <li><a href="home-1.html">Home</a></li>
                <li><a href="team.html">Team</a></li>
            </ul>
            <h2 class="mil-uppercase">Leadership Team</h2>
        </div>
    </div>
</div>

<section class="mil-team mil-p-120-60">
            <div class="container">
                <h2 class="mil-text-center mil-mb-10">Meet Our  <span class="mil-accent">Leadership</span></h2>
                <p class="mil-mb-90" style="text-align: center !important;">
                    Visionary leaders driving innovation and shaping the future of education.
                </p>
                <div class="row mil-mb-120">
                    <div class="col-sm-6 col-lg-4">

                        <a href="team-single.html" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="../../../../assets/img/faces/1.jpg" alt="Team member">
                            </div>
                            <h4 class="mil-mb-10">Anjali Waghmare</h4>
                            <p>CEO & Co-Founder</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-4">

                        <a href="team-single.html" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="../../../../assets/img/faces/2.jpg" alt="Team member">
                            </div>
                            <h4 class="mil-mb-10">Praveer Darbeshwar</h4>
                            <p>COO & Co-Founder</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-4">

                        <a href="team-single.html" class="mil-team-card mil-mb-60 mil-mb-30">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="../../../../assets/img/faces/3.jpg" alt="Team member">
                            </div>
                            <h4 class="mil-mb-10">Shubham Bodade</h4>
                            <p>CTO</p>
                        </a>

                    </div>
                </div>


                <h2 class="mil-text-center mil-mb-10">Meet Our  <span class="mil-accent">Leadership</span></h2>
                <p class="mil-mb-90" style="text-align: center !important;">
                    Visionary leaders driving innovation and shaping the future of education.
                </p>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">

                        <a href="team-single.html" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="../../../../assets/img/faces/4.jpg" alt="Team member">
                            </div>
                            <h4 class="mil-mb-10">Andrew Kazantzis</h4>
                            <p>CEO ITSulu</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-4">

                        <a href="team-single.html" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="../../../../assets/img/faces/5.jpg" alt="Team member">
                            </div>
                            <h4 class="mil-mb-10">Jane Meldrum</h4>
                            <p>Designer</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-4">

                        <a href="team-single.html" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="../../../../assets/img/faces/6.jpg" alt="Team member">
                            </div>
                            <h4 class="mil-mb-10">Roy Ellawala</h4>
                            <p>App Developer</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-4">

                        <a href="team-single.html" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="../../../../assets/img/faces/4.jpg" alt="Team member">
                            </div>
                            <h4 class="mil-mb-10">Andrew Kazantzis</h4>
                            <p>CEO ITSulu</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-4">

                        <a href="team-single.html" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="../../../../assets/img/faces/5.jpg" alt="Team member">
                            </div>
                            <h4 class="mil-mb-10">Jane Meldrum</h4>
                            <p>Designer</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-lg-4">

                        <a href="team-single.html" class="mil-team-card mil-mb-60">
                            <div class="mil-image-frame mil-mb-30">
                                <img src="../../../../assets/img/faces/6.jpg" alt="Team member">
                            </div>
                            <h4 class="mil-mb-10">Roy Ellawala</h4>
                            <p>App Developer</p>
                        </a>

                    </div>

                </div>
            </div>
        </section>