<!-- banner -->
<div class="mil-banner-sm mil-deep-bg">
    <img [src]="caseStudiesDetails.image" alt="background" class="mil-background-image">
    <!-- <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div> -->
    <div class="mil-banner-content">
        <div class="container mil-relative">
            <a href="javascript:void(0);" class="mil-link link-left mil-mb-30" routerLink="/cases"><i class="fas fa-arrow-left"></i><span>All Cases</span></a>
            <h3 class="mil-uppercase">{{caseStudiesDetails.heading}}</h3>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- project -->
<section class="mil-p-120-90">
    <div class="container">

        <div class="row flex-sm-row-reverse justify-content-between">
            <div class="col-lg-4 col-xl-3">

                <div class="mil-project-info mil-mb-60">

                    <h5 class="mil-list-title mil-mb-30">Project Info</h5>

                    <p class="mil-mb-10">Client</p>
                    <h6 class="mil-mb-15">{{caseStudiesDetails.projectInfo.client}}</h6>
                    <div class="mil-divider mil-divider-left mil-mb-30"></div>
                    <p class="mil-mb-10">Service</p>
                    <h6 class="mil-mb-15">{{caseStudiesDetails.projectInfo.service}}</h6>
                    <div class="mil-divider mil-divider-left mil-mb-30"></div>
                    <p class="mil-mb-10">Industry</p>
                    <h6 class="mil-mb-15">{{caseStudiesDetails.projectInfo.industry}}</h6>
                    <div class="mil-divider mil-divider-left mil-mb-30"></div>
                    <p class="mil-mb-10">Stack</p>
                    <h6>{{caseStudiesDetails.projectInfo.stack}}</h6>

                </div>

            </div>
            <div class="col-lg-7 col-xl-8">
                <span class="mil-suptitle mil-suptitle-2 mil-mb-30 ">Overview</span>
                <div *ngFor="let item of caseStudiesDetails.overview">
                    <h3 class="mil-mb-30 mil-mt-60">{{item.title}}</h3>
                    <p *ngFor="let p of item.description" class="mil-mb-30">{{p}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- project end -->

<div class="container">
    <div class="mil-divider"></div>
</div>

<!-- project -->
<section class="mil-p-120-60">
    <div class="container">
        <div class="row flex-sm-row-reverse justify-content-between align-items-center" *ngFor="let imp of caseStudiesDetails.impact">
            <div class="col-xl-5 mil-mb-60">
                <h3 class="mil-mb-30">{{imp.title}}</h3>
                <p *ngFor="let p of imp.details" class="mil-mb-30">{{p}}</p>
            </div>
            <div class="col-xl-6 mil-mb-60">
                <div class="mil-project-cover">
                    <img [src]="imp.image" alt="Project">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- project end -->

<div class="container">
    <div class="mil-divider"></div>
</div>

<!-- conclusion -->
<section class="mil-p-120-60">
    <div class="mil-deco" style="top: 0; left: 30%;"></div>
    <div class="container">
        <div class="row align-items-end mil-mb-90">
            <div class="col-xl-12">
                <h2 class="mil-mb-30">{{caseStudiesDetails.conclusion.cTitle}}</h2>
                <p>{{caseStudiesDetails.conclusion.cDescription}}</p>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-6 col-xl-4" *ngFor="let item of caseStudiesDetails.additionalInfo">
                <div class="mil-icon-box-2 mil-mb-60">
                    <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg mil-mb-30">
                        <img [src]="item.icon" alt="icon">
                    </div>
                    <div class="mil-box-text">
                        <h4 class="mil-mb-30"> {{item.eTitle}} </h4>
                        <p class="mil-box-text mil-mb-30">{{item.eDescription}}</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
<!-- conclusion end -->

<section>
    <div class="container">
        <div class="mil-divider mil-mb-60"></div>

        <div class="row align-items-center mil-mb-60">
            <div class="col-lg-12">
                <a routerLink="/contact" class="mil-link mil-mb-30"><span>Contact us for more details</span><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>